<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title ">{{ isUpdate ? 'Atualizar' : 'Criar' }} uma aula</h4>
            <p class="card-category">A seguir, você pode {{ isUpdate ? 'atualizar' : 'criar' }} uma aula.</p>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
              <div class="d-flex">
                <div class="col mt-4">
                  <div class="col col-md-6">
                    <mat-form-field [formGroup]="formGroup">
                      <input formControlName="name" matInput placeholder="Nome*">
                    </mat-form-field>
                  </div>

                  <div class="col col-md-6">
                    <mat-form-field [formGroup]="formGroup">
                      <input formControlName="order" matInput placeholder="Ordem da aula" type="number">
                    </mat-form-field>
                  </div>

                  <div class="col col-md-6">
                    <mat-form-field [formGroup]="formGroup">
                      <input formControlName="videoUrl" matInput placeholder="O url do video*">
                    </mat-form-field>
                  </div>

                  <div class="col col-md-6">
                    <mat-form-field [formGroup]="formGroup">
                      <mat-select formControlName="courseId" placeholder="Curso*">
                        <mat-option *ngFor="let course of listCourses" [value]="course.id"> {{course.name}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col d-flex flex-column flex-sm-row flex-sm-grow-0 mt-5">
                <button class="btn btn-outline-secondary" [routerLink]="goBackUrl" type="button">Voltar
                </button>
                <button [disabled]="formGroup.status === 'INVALID'"
                  class="btn btn-info ml-sm-auto">{{ isUpdate ? 'Atualizar' : 'Criar' }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
